<table class="table">
  <thead>
    <tr class="bd-purple-500">
      <th scope="col" class="text-center h2">Price</th>
      <th scope="col" class="text-center h2">Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center h4">$19</td>
      <td class="text-center h4">Under 15 lbs</td>
    </tr>
    <tr>
      <td class="text-center h4">$22</td>
      <td class="text-center h4">15-30 lbs</td>
    </tr>
    <tr>
      <td class="text-center h4">$24</td>
      <td class="text-center h4">30-75 lbs</td>
    </tr>
    <tr>
      <td class="text-center h4">$26</td>
      <td class="text-center h4">Over 75 lbs</td>
    </tr>
  </tbody>
</table>
